<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.zzming.chess.dao.PlayerDao">
	<select id="findByCode" parameterType="java.lang.String" resultType="com.zzming.chess.entity.Player">
		SELECT * FROM player WHERE code=#{code}
	</select>
		<insert id="save" parameterType="com.zzming.chess.entity.Player">
		INSERT INTO player (id,code,pwd,name)
		VALUES(seq_player_id.NEXTVAL,#{code},#{pwd},#{name})
	</insert>
	<update id="modifyInfo" parameterType="com.zzming.chess.entity.Player">
		UPDATE player
		<set>
			<if test="name!=null">name=#{name},</if>
			<if test="telephone!=null">telephone=#{telephone},</if>
			<if test="email!=null">email=#{email}</if>
		</set>
		WHERE code=#{code}
	</update>
</mapper>